.btnPrimary {
    margin-left: 25px;
    margin-bottom: 15px;
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: $color-primary;
    border: none;
    outline: none;
    display: block;
}